@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  height: 80vh;
  /* align-items: center; */
  background-color: transparent;
  position: relative;
}
.pizza {
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.countdown {
  display: flex;
  height: 25vh;
  justify-content: center;
  color: white;
}

.content {
  width: 100%;
  background-color: transparent;
}

.countdown div {
  flex-basis: 100px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown div p {
  font-size: 60px;
  margin-bottom: -14px;
}

.rsvp_section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.date {
  color: white;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}

.rsvp_button {
  color: white;
  border: 1px solid white;
  padding: 15px 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  margin-top: 35px;
}

.rsvp_button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}

.location {
  color: white;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.scroll-button {
  position: absolute;
  bottom: 10px;
  z-index: 1;
  justify-content: center;
  width: 100%;
  animation: bounce 2s infinite;
  display: flex;
  bottom: 90px;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }
  20% {
    transform: scale(1, 0.95) translate(0px, 5px);
  }
  80% {
    transform: scale(1, 1.05) translate(0px, -5px);
  }
  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
