@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.staytitle {
  color: #f08e80;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  font-weight: 500;
}

.staybody {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  background: #fff2ea;
  color: #777;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.stayeventcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stayitem-container {
  position: relative;
  margin: 24px;
  width: 320px;
  height: 520px;
  overflow: hidden;
  background-color: gray;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  text-align: center;
}

.staybody-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.staybody-container {
  position: relative;
  background-color: white;
}

staybody-container:focus {
  outline: none;
}

.staytitlecontent {
  font-size: 1.5em;
  font-weight: 500;
  padding-top: 30px;
  color: black;
}

.stayaddress {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}

.staymap {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #f08e80;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: 5px;
}
.staymap:hover {
  color: white;
  background-color: #f08e80;
}

.iframes {
  width: 250px;
  height: 300px;
  border: 0;
  margin-top: 20px;
}

.staytext {
  text-align: center;
  margin-top: 20px;
  font-size: x-large;
}
