@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.primary-header {
  padding: 1rem;
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: bold;
  font-size: large;
  position: sticky;
  top: -1px;
  background: none;
  text-decoration: none;
  z-index: 10;
  visibility: hidden;
}
.primary-header.is-pinned .navlinks {
  color: #f08e80;
}

.primary-header.is-pinned {
  background-color: #fff2ea;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  font-size: large;
  position: sticky;
  top: -1px;
  text-decoration: none;
  z-index: 10;
  visibility: visible;
}

/* .primary-header {
  
  
} */

/* .primary-header.sticking {
    --_bg: #333;
    --_nav-link-color: white;
  } */

.primary-header__inner {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: clamp(0.5rem, 5vw, 2rem);
  margin-top: 1%;
}

.navlinks:link,
.navlinks:visited {
  color: white;
  text-decoration: none;
}

.navlinks {
  transition: transform 0.5s;
  cursor: pointer;
}
.navlinks:hover {
  transform: scale(1.2);
}

@media (max-width: 767px) {
  .primary-header {
    /* background-color: #fff2ea; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
    position: sticky;
    top: -1px;
    text-decoration: none;
    z-index: 10;
  }

  .navlinks:link,
  .navlinks:visited {
    color: white;
    text-decoration: none;
  }
  .primary-header.is-pinned .navlinks {
    color: #f08e80;
  }
}

/* .BeforeScroll {
  display: none;
} */
