@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
.bodyending {
  background-color: white;
  min-height: 50vh;
}

.endingstyling {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.endingtext {
  color: #f08e80;
  top: 150px;
  position: relative;
  font-size: 45px;
  letter-spacing: 0.02em;
  font-family: "Slabo 27px", serif;
}
